[worldserver]

StatBooster.Enable = 0

StatBooster.OnLoginEnable = 1
StatBooster.OnLootItemEnable = 1
StatBooster.OnQuestRewardItemEnable = 1
StatBooster.OnCraftItemEnable = 1

StatBooster.LootItemChance = 100
StatBooster.QuestRewardChance = 100
StatBooster.CraftItemChance = 100

StatBooster.MinQuality = 2
StatBooster.MaxQuality = 4

StatBooster.PlaySoundEnable = 1
StatBooster.SoundId = 120

StatBooster.AnnounceBoostEnable = 1
StatBooster.AnnounceLoot = "You looted a boosted item."
StatBooster.AnnounceQuest = "You received a boosted item."
StatBooster.AnnounceCraft = "You crafted a boosted item."